html
{
 height: 100%;
 background-color: #3cf2ff;
}

body
{ 
 margin:0;
 padding:0;
 position: relative;
 min-height: 99%;
 padding-bottom: 4rem;
}
header form
{
	display:inline;
	float:right;
	margin:0;
	padding:0;
}

header
{
 width: 97%;
 height: 60px;
 background-color: #3cf2ff;
 padding:10px;
 border:1px solid #000;
 margin:auto;
 position: relative;
 margin:0px;
	margin-left:20px;
}

.content 
{
 margin: auto;
 max-width: 700px;
 width: 99%;
}

article
{
 width: 600px;
 height: 120px;
 margin: auto;
 background-color: #B2B2B2;
}
#article
{
    text-align: justify;
}
#article h2
{
         text-align: center;
}

footer 
{
 position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 text-align: center;
 background-color: black;
 width: 98%;
 height: 118px;
 margin-left:5px;
}

footer p
{
 float: left;
}


nav 
{
 margin: auto;
 margin-top:-13px;
 width: 190px;
 background: white;
 color: rgba(0, 0, 0, 0.87);
 -webkit-clip-path: circle(24px at 30px 24px);
 clip-path: circle(24px at 32px 24px);
 -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
 transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
 transition: 0.5625s, 0.375s;
 float: left;
}

nav:hover 
{
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
 -webkit-transition-duration: 0.75s;
 transition-duration: 0.75s;
 -webkit-clip-path: circle(390px at 225px 24px);
 clip-path: circle(390px at 150px 24px);
}

a 
{
 display: block;
 line-height: 50px;
 padding: 0 20px;
 color: black;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

a:hover 
{
 background: black;
 color: white;
}

a:active 
{ 
 background: gray;
}

.navicon 
{
 padding: 23px 20px;
 cursor: pointer;
 -webkit-transform-origin: 32px 24px;
 -ms-transform-origin: 32px 24px;
 transform-origin: 32px 24px;
}

.navicon div 
{
 position: relative;
 width: 20px;
 height: 2px;
 background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,

.navicon div:after 
{
 display: block;
 content: "";
 width: 20px;
 height: 2px;
 background: rgba(0, 0, 0, 0.87);
 position: absolute;
}

.navicon div:before
{ 
 top: -7px;
}

.navicon div:after 
{
 top: 7px;
}
